.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-weight: inherit;
  text-align: inherit;
  line-height: 1.15;
}

.scroll-float .char {
  display: inline-block;
}
